<div class="row">

    <form action="/admin/generate-fake-posts" method="POST">
     <h1>Blog Yazısı Üret</h1>

        <div class="form-group">

            <input type="number" name="amount" class="form-control">
        </div>
        <button type="submit">Üret</button>

    </form>
</div>