<footer class="footer-area">
			<!-- Footer Image Gallery Start -->
			<div class="container-fluid p-0">
				<div class="footer-gallery  owl-carousel owl-theme">
					<div class="footer-gallery-single item">
						<img src="/img/footer-gallery/1.jpg" alt="" />
					</div>
					<div class="footer-gallery-single">
						<img src="/img/footer-gallery/2.jpg" alt="" />
					</div>
					<div class="footer-gallery-single">
						<img src="/img/footer-gallery/3.jpg" alt="" />
					</div>
					<div class="footer-gallery-single">
						<img src="/img/footer-gallery/4.jpg" alt="" />
					</div>
					<div class="footer-gallery-single">
						<img src="/img/footer-gallery/5.jpg" alt="" />
					</div>
					<div class="footer-gallery-single">
						<img src="/img/footer-gallery/6.jpg" alt="" />
					</div>
				</div>
			</div>
			<!-- Footer Image Gallery End -->
			<!-- Footer Bottom Area Start -->
			<div class="footer-bottom container-fluid plr-80 light-black-bg">
				<div class="row">
					<div class="footer-bottom-area ptb-30">
						<div class="col-md-6 col-sm-12 col-xs-12">
							<div class="footer-bottom-right">
								<p>Copyright &copy; 2019 <a href="">Serkan Soy</a> Tüm Hakları Saklıdır.</p>
							</div>
						</div>
						<div class="col-md-6 text-right col-sm-12 col-xs-12">
							<div class="footer-menu">
								<nav>
									<ul>
										<li class="active"><a href="/">Anasayfa</a></li>
										<li><a href="/about-us">Hakkımda</a></li>
										<li><a href="#">Kategoriler</a></li>
										<li><a href="#">Sayfalar</a></li>
										<li><a href="/contact-us">İletişim</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Bottom Area End -->
		</footer>