	<header class="header-area header-wrapper">
				<!-- Header top area start -->
				<div class="header-top light-black-bg">
					<div class="container-fluid plr-80 sm-p-0">
						<div class="row">
							<div class="col-md-4 col-xs-12 col-sm-12">
								<div class="header-top-left">
									<p>Welcome to my Blog</p>
								</div>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<div class="header-top-middle text-center">
									<ul>
										<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<div class="header-top-right text-right">
									<ul>
										<li><a href="/admin">Admin</a></li>
										<li><a href="login">Log In</a></li>
										<li><a href="#">Register</a></li>
										<li class="menu-search-box">
											<form action="#">
												<input placeholder="" type="text">
												<button><i class="fa fa-search" aria-hidden="true"></i></button>
											</form>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Header top area End -->
				<!-- Header Menu Area Start -->
				<div class="header-menu" id="sticky-header">
					<div class="container-fluid plr-80">
						<div class="row">
							<!-- Expand Menu -->
							<div class="col-md-2">
								<!-- Logo Area -->
								<div class="logo-area">
									<a href="index"><img src="img/icon/logo.png" alt="" /></a>
								</div>
								<!-- Logo Area -->
							</div>
							<!-- Expand Menu -->
							<div class="col-md-10">
								<!-- Menu Area -->
								<div class="main-menu">
									<nav>
										<ul id="nav">
											<li class="active"><a href="/">Home</a>
												<ul>
													<li><a href="index.html">Home V1</a></li>
													<li><a href="index-2.html">Home V2</a></li>
													<li><a href="index-3.html">Home V3</a></li>
													<li><a href="index-4.html">Home V4</a></li>
													<li><a href="index-5.html">Home V5</a></li>
													<li><a href="index-6.html">Home V6</a></li>
													<li><a href="index-7.html">Home V7</a></li>
												</ul>
											</li>
											<li><a href="about-us">About</a></li>
											<li><a href="features.html">Features</a></li>
											<li><a href="#">Post Style</a>
												<ul>
													<li><a href="standard-post.html">Standard</a></li>
													<li><a href="video-post.html">Video</a></li>
													<li><a href="slide-post.html">Slider</a></li>
													<li><a href="gallery-post.html">Gallery</a></li>
												</ul>
											</li>
											<li><a href="#">CATEGORIES</a>
												<ul>
													<li><a href="category-single-adventure.html">Adventure</a></li>
													<li><a href="category-single-fashion.html">Fashion</a></li>
													<li><a href="category-single-lifestyle.html">Life Style</a></li>
													<li><a href="category-single-travel.html">Travel</a></li>
												</ul>
											</li>
											<li><a href="#">Page</a>
												<div class="mega-menu">
													<ul class="single">											
														<li><a href="about-us.html">About Us</a></li>
														<li><a href="features.html">Features</a></li>
														<li><a href="404.html">Error 404</a></li>
														<li><a href="contact-us.html">Contact Us</a></li>
													</ul>
													<ul class="single">
														<li><a href="standard-post.html">Standard Post</a></li>
														<li><a href="video-post.html">Video Post</a></li>
														<li><a href="slide-post.html">Slide Post</a></li>
														<li><a href="gallery-post.html">Gallery Post</a></li>
													</ul>
													<ul class="single">											
														<li><a href="category-single-adventure.html">Categories Adventure</a></li>
														<li><a href="category-single-fashion.html">Categories Fashion</a></li>
														<li><a href="category-single-lifestyle.html">Categories LifeStyle</a></li>
														<li><a href="category-single-travel.html">Categories Travel</a></li>
													</ul>
												</div>	
											</li>
											<li><a href="contact-us.html">Contact Us</a></li>
										</ul>
									</nav>
								</div>
								<!-- Menu Area -->
								<!-- MOBILE-MENU-AREA START --> 
								<div class="mobile-menu-area">
									<div class="container">
										<div class="row">
											<div class="col-md-12 col-sm-12">
												<div class="mobile-area">
													<div class="mobile-menu">
														<nav id="mobile-nav">
															<ul>
																<li><a href="index.html">Home </a>
																	<ul>
																		<li><a href="index.html">Home V1</a></li>
																		<li><a href="index-2.html">Home V2</a></li>
																		<li><a href="index-3.html">Home V3</a></li>
																		<li><a href="index-4.html">Home V4</a></li>
																		<li><a href="index-5.html">Home V5</a></li>
																		<li><a href="index-6.html">Home V6</a></li>
																		<li><a href="index-7.html">Home V7</a></li>
																	</ul>
																</li>
																<li><a href="about-us"> About Us </a></li>
																<li><a href="features.html">Features</a></li>
																<li><a href="#">Post Style</a>
																	<ul>
																		<li><a href="standard-post.html">Standard</a></li>
																		<li><a href="video-post.html">Video</a></li>
																		<li><a href="slide-post.html">Slider</a></li>
																		<li><a href="gallery-post.html">Gallery</a></li>
																	</ul>
																</li>
																<li><a href="#">Categories</a>
																	<ul>
																		<li><a href="category-single-adventure.html">Adventure</a></li>
																		<li><a href="category-single-fashion.html">Fashion</a></li>
																		<li><a href="category-single-lifestyle.html">Life Style</a></li>
																		<li><a href="category-single-travel.html">Travel</a></li>
																	</ul>
																</li>
																<li><a href="404.html">404 Error</a></li>
																<li><a href="contact-us.html">Contact</a></li>
															</ul>
														</nav>
													</div>	
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- MOBILE-MENU-AREA END  -->
							</div>
						</div>
					</div>
				</div>
				<!-- Header Menu Area End -->
			</header>