	<div class="col-md-3 col-sm-12 col-xs-12 sm-mt-50 pl-35">
									<!-- Choose Category Area Start -->
							<div class="choose-category border-bottom  pt-60">
								<h4>Kategori Seç</h4>
								<div class="category-list">
									<ul>
                                        {{#each categoryData}}
										<li>
											<a href="#">{{name}}<span>25</span></a>
										</li>
                                        {{/each}}
									</ul>
								</div>
							</div>
							<!-- Choose Category Area Start -->
									<!-- Popular Post Area Start -->
							<div class="popularpost-area border-bottom  pt-60">
								<h4>Popüler Yazılar</h4>
								<div class="popular-post pt-10 pb-20">
									<!-- Single Post -->
									<div class="popular-single pb-25">
										<div class="popular-img">
											<a href="#"><img src="../img/post/1.jpg" alt="" /></a>
										</div>
										<div class="popular-content">
											<h5>Adventure</h5>
											<span class="post-date">18 November 2016</span>
											<p>Stories about Sed ut peatis unde omnis peatis unde omnis</p>
										</div>
									</div>
									<!-- Single Post -->
									<!-- Single Post -->
									<div class="popular-single pb-25">
										<div class="popular-img">
											<a href="#"><img src="../img/post/2.jpg" alt="" /></a>
										</div>
										<div class="popular-content">
											<h5>Life Style</h5>
											<span class="post-date">15 November 2016</span>
											<p>Stories about Sed ut peatis unde omnis peatis unde omnis</p>
										</div>
									</div>
									<!-- Single Post -->
									<!-- Single Post -->
									<div class="popular-single pb-25">
										<div class="popular-img">
											<a href="#"><img src="../img/post/3.jpg" alt="" /></a>
										</div>
										<div class="popular-content">
											<h5>Fashion</h5>
											<span class="post-date">13 November 2016</span>
											<p>Stories about Sed ut peatis unde omnis peatis unde omnis</p>
										</div>
									</div>
									<!-- Single Post -->
									<!-- Single Post -->
									<div class="popular-single">
										<div class="popular-img">
											<a href="#"><img src="../img/post/4.jpg" alt="" /></a>
										</div>
										<div class="popular-content">
											<h5>Travel</h5>
											<span class="post-date">10 November 2016</span>
											<p>Stories about Sed ut peatis unde omnis peatis unde omnis</p>
										</div>
									</div>
									<!-- Single Post -->
								</div>
							</div>
							<!-- Popular Post Area End -->
							<!-- About Me Area Start -->
							{{!-- <div class="about-me text-center border-bottom">
								<img src="../img/team/1.png" alt="" />
								<div class="about-info pt-15">
									<h4>Merhaba! Ben Serkan</h4>
									<p>Life Style Sed ut perspiciatis unde omnis te natus erro tem accusantium doloremquem rem aperiaque ipsa quae ab illo inve ipsa quae ab illo inve</p>
									<div class="social-middle">
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div> --}}
							<!-- About Me Area End -->

							<!-- Newsletter Area Start -->
							<div class="newsletter-area border-bottom  pt-60">
								<h4>Bülten Aboneliği</h4>
								<div class="newsletter-form pt-10 pb-20">
									<form id="mc-form">
										<input autocomplete="off" placeholder="email adresinizi girin" type="text">
										<button type="submit">
											<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
										</button>
										<!-- mailchimp-alerts Start -->
										<div class="mailchimp-alerts text-centre">
											<div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
											<div class="mailchimp-success"></div><!-- mailchimp-success end -->
											<div class="mailchimp-error"></div><!-- mailchimp-error end -->
										</div>
										<!-- mailchimp-alerts end -->
									</form>
								</div>
							</div>
							<!-- Newsletter Area End -->

							<!-- Archive Area Start -->
							{{!-- <div class="archive-area border-bottom  pt-60">
								<h4>Archives</h4>
								<div class="archive-select pt-10 pb-20">
									<select>
										<option>November 2016</option>
										<option>October 2015</option>
										<option>january 2014</option>
										<option>june 2013</option>
									</select>
								</div>
							</div> --}}
							<!-- Archive Area End -->
							<!-- Add Image Area Start -->
							<div class="pt-60">
								<div class="add-img">
									<a href="#"><img src="../../img/add/1.png" alt="" />
									
									<div class="add-text">
										<p>Place Your Add Here</p>
									</div>
									</a>
									
								</div>
							</div>
							<!-- Add Image Area End -->
							<!-- Latest Twist Area Start -->
							<div class="twist-area border-bottom  pt-60">
								<h4>Son Twitler</h4>
								<div class="twist-post pt-15 pb-20">
									<!-- Single Twist Post -->
									<div class="twist-single pb-25">
										<p><a href="#">@ Stories about ed</a> ut peatis unde omnise natus sed do eiusmod tempor incididunt ut labore et dolore incididunt ut labore et dolore</p>
										<ul>
											<li><a href="#">Retweet -</a></li>
											<li><a href="#">Reply -</a></li>
											<li><a href="#">Favorites</a></li>
										</ul>
									</div>
									<!-- Single Twist Post -->
									<!-- Single Twist Post -->
									<div class="twist-single pb-25">
										<p><a href="#">@ Adventure out ed</a> ut peatis unde omnise natus sed do eiusmod tempor incididunt ut labore et dolore incididunt ut labore et dolore</p>
										<ul>
											<li><a href="#">Retweet -</a></li>
											<li><a href="#">Reply -</a></li>
											<li><a href="#">Favorites</a></li>
										</ul>
									</div>
									<!-- Single Twist Post -->
									<!-- Single Twist Post -->
									<div class="twist-single pb-25">
										<p><a href="#">@Fashion about ed</a> ut peatis unde omnise natus sed do eiusmod tempor incididunt ut labore et dolore incididunt ut labore et dolore</p>
										<ul>
											<li><a href="#">Retweet -</a></li>
											<li><a href="#">Reply -</a></li>
											<li><a href="#">Favorites</a></li>
										</ul>
									</div>
									<!-- Single Twist Post -->
									<!-- Single Twist Post -->
									<div class="twist-single">
										<p><a href="#">@Life Style bout ed</a> ut peatis unde omnise natus sed do eiusmod tempor incididunt ut labore et dolore incididunt ut labore et dolore</p>
										<ul>
											<li><a href="#">Retweet -</a></li>
											<li><a href="#">Reply -</a></li>
											<li><a href="#">Favorites</a></li>
										</ul>
									</div>
									<!-- Single Twist Post -->
								</div>
							</div>
							<!-- Latest Twist Area End -->
							<!-- Gallery Image Area Start -->
							<div class="gallery-area border-bottom  pt-60">
								<h4>Resim Galerisi</h4>
								<div class="gallery-img pt-15 pb-18">
									<div class="gallery-single">
										<ul>
											<li><img src="../img/gallery/1.jpg" alt="" /></li>
											<li><img src="../img/gallery/2.jpg" alt="" /></li>
											<li><img src="../img/gallery/3.jpg" alt="" /></li>
											<li><img src="../img/gallery/4.jpg" alt="" /></li>
											<li><img src="../img/gallery/5.jpg" alt="" /></li>
											<li><img src="../img/gallery/6.jpg" alt="" /></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- Gallery Image Area End -->
							<!-- Tag Area Start -->
							<div class="gallery-area border-bottom pt-60">
								<h4>Taglar</h4>
								<div class="pt-20 pb-15">
									<div class="tag-area">
										<ul>
											<li><a href="#">Adventure</a></li>
											<li><a href="#">Life Style</a></li>
											<li><a href="#">Travel</a></li>
											<li><a href="#">Fashion</a></li>
											<li><a href="#">Music</a></li>
											<li><a href="#">Stories</a></li>
											<li><a href="#">Food & Drink</a></li>
											<li><a href="#">Nature</a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- Tag Area End -->
						</div>