			<!-- Header Banner Area Start -->
			<section class="header-banner-area pt-130 pb-115 bg-2">
				<div class="container">
					<div class="row">
						<div class="header-banner-titel text-uppercase text-black text-center">
							<h1>ABOUT ME</h1>
						</div>
					</div>
				</div>
			</section>
			<!-- Header Banner Area Start -->
			<!-- About Me Area Start -->
			<div class="about-area pt-120">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="about-me text-center">
								<img src="img/team/1.png" alt="" />
								<div class="about-info pt-15">
									<h4>Hello! I am Lira Smith</h4>
									<p><b>Love to Bloging</b> in Sed ut perspiciatis unde omnis te natus erro tem accusantium doloremquem rem aperiaque ipsa quae ab illo inve Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
									<div class="social-middle two pt-15">
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- About Me Area End -->
			<!-- Page Content Start -->
			<section class="page-content-area pb-120">
				<div class="container">
					<div class="row">
						<!-- Content Left Area --> 
						<div class="col-md-9">
							<div class="row">
								<!-- Content Start -->
								<div class="col-md-12">
									<div class="about-content ptb-60">
										<p>Know I do sed ut perspiciatis unde omnis iste natus erro tem into accum doloremque laudantium, totam rem aperiaque ipsa a quaea ab illotore veritatis Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo uat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia enim ad minim veniam </p>
										<p>What I do sed ut perspiciatis unde omnis iste natus erro tem into accum doloremque laudantium, totam rem aperiaque ipsa a quaea ab illotore veritatis Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </p>
										<blockquote>
											<p>“Something sed ut perspiciatis unde omnis iste natus erro tem into accum doloremque laudantium, totam rem aperiaque ipsa quaea ab illotore veritatis Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam”</p>
										</blockquote>
										<p>Hobby to  sed ut perspiciatis unde omnis iste natus erro tem into accum doloremque laudantium, totam rem aperiaque ipsa a quaea ab illotore veritatis Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo uat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia enim ad minim veniam </p>
										<p>What I do sed ut perspiciatis unde omnis iste natus erro tem into accum doloremque laudantium, totam rem aperiaque ipsa a quaea ab illotore veritatis Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
										<p>What I do sed ut perspiciatis unde omnis iste natus erro tem into accum doloremque laudantium, totam rem aperiaque ipsa a quaea ab illotore veritatis Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
										<div class="author-titel">
											<h5>Lira Smith</h5>
										</div>
									</div>
								</div>
								<!-- Content End -->
								<!-- Titel Here -->
								<div class="col-md-12">
									<div class="as-titel">
										<h4>Related Post</h4>
									</div>
								</div>
								<!-- Titel Here -->
								<!-- Blog Large Image Single Item -->
								<div class="col-md-6">
									<div class="blog-single-post">
										<div class="blog-img">
											<a href="#"><img src="img/about/1.jpg" alt="" /></a>
											<span class="pst-titel"><a href="#">Stories</a></span>
										</div>
										<div class="post-content">
											<div class="post-titel-author pt-30 pb-15">
												<h3><a href="#">Adventure Makes Life More Beautiful</a></h3>
												<span>20 November 2016, 10.15 am   /  <a href="#">By : Nirob</a></span>
											</div>
											<div class="post-srt-content pb-20 border-bottom">
												<p>Adventure Sed ut perspiciatis unde omnis iste natus erro tem accusantium doloremque laudantium, totam rem aperiaque ipsa quae ab illo inventore veritatis perspiciats</p>
												<a href="#">CONTINUE READING <i class="icofont icofont-long-arrow-right"></i></a>
											</div>
											<div class="post-info pt-15">
												<span class="post-txt mr-25">
													<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>36 Likes</a>
												</span>
												<span class="post-txt mr-25">
													<a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>15 Comments</a>
												</span>
												<span class="post-txt mr-25">
													<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>50 Shares</a>
												</span>
											</div>
										</div>
									</div>
								</div>
								<!-- Blog Large Image Single Item -->
								<!-- Blog Large Image Single Item -->
								<div class="col-md-6">
									<div class="blog-single-post">
										<div class="blog-img">
											<a href="#"><img src="img/about/2.jpg" alt="" /></a>
											<span class="pst-titel"><a href="#">Life Style</a></span>
										</div>
										<div class="post-content">
											<div class="post-titel-author pt-30 pb-15">
												<h3><a href="#">Explore Human Life Style</a></h3>
												<span>20 November 2016, 10.15 am   /  <a href="#">By : Kausar Al Mamun</a></span>
											</div>
											<div class="post-srt-content pb-20 border-bottom">
												<p>Life Style Sed ut perspiciatis unde omnis iste natus erro tem accusantium doloremque laudantium, totam rem aperiaque ipsa quae ab illo inventore veritatis  perspiciatis</p>
												<a href="#">CONTINUE READING <i class="icofont icofont-long-arrow-right"></i></a>
											</div>
											<div class="post-info pt-15">
												<span class="post-txt mr-25">
													<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i>36 Likes</a>
												</span>
												<span class="post-txt mr-25">
													<a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>15 Comments</a>
												</span>
												<span class="post-txt mr-25">
													<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>50 Shares</a>
												</span>
											</div>
										</div>
									</div>
								</div>
								<!-- Blog Large Image Single Item -->
							</div>
						</div>
						<!-- Content Left Area End -->
						<!-- Content Right Area Start --> 
						<div class="col-md-3 col-sm-12 col-xs-12 sm-mt-50">
							<!-- Popular Post Area Start -->
							<div class="popularpost-area border-bottom  pt-60 fix">
								<h4>Popular Post</h4>
								<div class="popular-post pt-10 pb-20">
									<!-- Single Post -->
									<div class="popular-single pb-25">
										<div class="popular-img">
											<a href="#"><img src="img/post/1.jpg" alt="" /></a>
										</div>
										<div class="popular-content">
											<h5>Adventure</h5>
											<span class="post-date">18 November 2016</span>
											<p>Stories about Sed ut peatis unde omnis</p>
										</div>
									</div>
									<!-- Single Post -->
									<!-- Single Post -->
									<div class="popular-single pb-25">
										<div class="popular-img">
											<a href="#"><img src="img/post/2.jpg" alt="" /></a>
										</div>
										<div class="popular-content">
											<h5>Life Style</h5>
											<span class="post-date">15 November 2016</span>
											<p>Stories about Sed ut peatis unde omnis</p>
										</div>
									</div>
									<!-- Single Post -->
									<!-- Single Post -->
									<div class="popular-single pb-25">
										<div class="popular-img">
											<a href="#"><img src="img/post/3.jpg" alt="" /></a>
										</div>
										<div class="popular-content">
											<h5>Fashion</h5>
											<span class="post-date">13 November 2016</span>
											<p>Stories about Sed ut peatis unde omnis</p>
										</div>
									</div>
									<!-- Single Post -->
									<!-- Single Post -->
									<div class="popular-single">
										<div class="popular-img">
											<a href="#"><img src="img/post/4.jpg" alt="" /></a>
										</div>
										<div class="popular-content">
											<h5>Travel</h5>
											<span class="post-date">10 November 2016</span>
											<p>Stories about Sed ut peatis unde omnis</p>
										</div>
									</div>
									<!-- Single Post -->
								</div>
							</div>
							<!-- Popular Post Area End -->
							<!-- Gallery Image Area Start -->
							<div class="gallery-area border-bottom  pt-60">
								<h4>Gallery</h4>
								<div class="gallery-img pt-15 pb-18">
									<div class="gallery-single">
										<ul>
											<li><img src="img/gallery/1.jpg" alt="" /></li>
											<li><img src="img/gallery/2.jpg" alt="" /></li>
											<li><img src="img/gallery/3.jpg" alt="" /></li>
											<li><img src="img/gallery/4.jpg" alt="" /></li>
											<li><img src="img/gallery/5.jpg" alt="" /></li>
											<li><img src="img/gallery/6.jpg" alt="" /></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- Gallery Image Area End -->
							<!-- Tag Area Start -->
							<div class="gallery-area border-bottom pt-60">
								<h4>Tags</h4>
								<div class="pt-20 pb-15">
									<div class="tag-area">
										<ul>
											<li><a href="#">Adventure</a></li>
											<li><a href="#">Life Style</a></li>
											<li><a href="#">Travel</a></li>
											<li><a href="#">Fashion</a></li>
											<li><a href="#">Music</a></li>
											<li><a href="#">Stories</a></li>
											<li><a href="#">Food & Drink</a></li>
											<li><a href="#">Nature</a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- Tag Area End -->
						</div>
						<!-- Content Right Area End -->
					</div>
				</div>
			</section>
			<!-- Page Content End -->