<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/login.css">
  <title>Login Ekranı</title>
</head>

<body>
{{> home/form-messages}}
  <div class="login-page bodylogin">
     <h3>Giriş Yap</h3>
    <div class="formlogin">
      <form class="login-form" action="/login" method="POST">
        <input name="email" type="email" placeholder="E-Mail Adresi" />
        <input name="password" type="password" placeholder="Şifre" />
        <button>Giriş</button>
        <p class="message">Üye olmadın mı? <a href="/register">Hesap oluştur</a></p>
      </form>
    </div>
  </div>

</body>

</html>