<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Siteye Git">
    <a class="nav-link" href="/">
      <i class="fa fa-fw fa-share"></i>
      <span class="nav-link-text">Siteye Git</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Site İstatistikleri">
    <a class="nav-link" href="/admin">
      <i class="fa fa-fw fa-area-chart"></i>
      <span class="nav-link-text">Site İstatistikleri</span>
    </a>
  </li>

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Blog Yazıları">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePosts"
      data-parent="#exampleAccordion">
      <i class="fa fa-fw fa-wrench"></i>
      <span class="nav-link-text">Blog Yazıları</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapsePosts">
      <li>
        <a href="/admin/posts">Tüm Blog Yazıları</a>
      </li>
      <li>
        <a href="/admin/posts/my-posts">Benim Yazılarım</a>
      </li>
      <li>
        <a href="/admin/posts/create">Blog Yazısı Ekle</a>
      </li>
    </ul>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kategoriler">
    <a class="nav-link" href="/admin/categories">
      <i class="fa fa-fw fa-sitemap"></i>
      <span class="nav-link-text">Kategoriler</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Yorumlar">
    <a class="nav-link" href="/admin/comments">
      <i class="fa fa-fw fa-file"></i>
      <span class="nav-link-text">Yorumlar</span>
    </a>
  </li>
</ul>